<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Cimri Challenge</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    
    <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
    <script type = "text/javascript">google.charts.load('current', {packages: ['corechart','line']}); </script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
       
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Product Details</h2>
        <div>
            <form class="form-horizontal">
      
                <div class="form-group">
                    <label class="col-sm-2 control-label">Product Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${product.id}">Product Id</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${product.category}">category</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Title:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${product.title}">title</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Price:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${product.prices}">prices</p>
                    </div>
                </div>
                <!-- 
                <div class="form-group">
                    <label class="col-sm-2 control-label">Image Url:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${product.imageUrl}">url....</p>
                    </div>
                </div>
                -->
            </form>
            
  
          <a th:href="${'/product/edit/' + product.idtable}">Edit </a> - 
            
          <a th:href="${'/product/json/' + product.idtable}"> Get product JSON Code </a> - 
            
          <a th:href="${'/productpricedate/json/id/' + product.id}"> Get productpricedate JSON Code ID </a>  - 
          
          <a th:href="${'/productpricedate/json/idtable/' + product.idtable}"> Get productpricedate JSON Code idtable </a>
          

   
<script th:inline="javascript">
        /*<![CDATA[*/
     $(document).ready(function(){
        	
    var $calendardateArr =  new Array();
    var $priceArr = new Array();
    var productCounter=0; 
    var productName = "";
	var productsList = "";
	
	//var message = [[${product.id}]];
   // alert(message);
	
  	 $.getJSON('http://localhost:8080/productpricedate/json/id/'+[[${product.id}]], function(prodData) {
		 

  		console.log("data.length: "+prodData.length);
  		productCounter=prodData.length;

		for (var i = 0; i < prodData.length; i++) {
			productsList += prodData[i].price + "<br>";
			productsList += prodData[i].calendardate + "<br>";
		    productName = prodData[i].brand;

	        $calendardateArr[i] = ''+prodData[i].calendardate;
	        $priceArr[i] = prodData[i].price;
          }
	
		//document.getElementById("demo").innerHTML = productsList;	 
	 });  

         function drawChart() {

        	      var data = new google.visualization.DataTable();
        	      data.addColumn('string', 'Date Time');
        	      data.addColumn('number', productName); 
        	  	  //console.log("productCounter: "+productCounter);

        	 		for(var i = 0; i < productCounter ; i++) {  	
        		        //  $calendardateArr[i] = ''+i;
        		        //  $priceArr[i] = Math.floor(Math.random() * 50);     	            	
        	           data.addRow([$calendardateArr[i], parseInt($priceArr[i])])
        	      }      
 
            var options = {'title' : 'Average Prices of Product',
               hAxis: {
                  title: 'Date Time'
               },
               vAxis: {
                  title: 'Price'
               },   
               'width':750,
               'height':400,
               //colors: [ '#0000ff', '#ff0000', '#00ff00'],
               pointsVisible: true,
               crosshair: {
                   color: '#000',
                   trigger: 'selection'
                },
                curveType: 'function'
            };

            var chart = new google.visualization.LineChart(document.getElementById('container'));
            chart.draw(data, options);
         }
         google.charts.setOnLoadCallback(drawChart);
      
     });
        /*]]>*/
         
         
     </script>    
            
    </div>
</div>
 
    <div id="container" style ="width: 1150px; height: 400px; margin: 0 auto"> </div>
	
</body>
</html>