<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Cimri Challenge</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
            <form class="form-horizontal" th:action="@{/productpricedates/search}" method="get">
            		<div class="row">
					  <div class="col-md-4">
						 Search By Title : <input type='text' name='title' id='title' /> 
						  <input class="btn btn-default" type='submit' value='Ara'/>
					  </div>
					</div>
     	      </form>         	
             	
     <div th:if="${not #lists.isEmpty(productpricedates)}">
            	
        <h2>Product Price Date List</h2>
        <table class="table table-striped">
            <tr>
                <th>idtable</th>
                <th>Product Id</th>
                <th>category</th>
                <th>Title</th>
                <th>Price</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="productpricedate : ${productpricedates}">
                <td th:text="${productpricedate.idtable}"><a href="/productpricedate/${productpricedate.idtable}">${productpricedate.idtable}</a></td>
                <td th:text="${productpricedate.id}"> Id</td>
                <td th:text="${productpricedate.category}">category</td>
                <td th:text="${productpricedate.title}">title</td>
                <td th:text="${productpricedate.price}">price</td>
                <td><a th:href="${ '/productpricedate/' + productpricedate.idtable}">View</a></td>
                <td><a th:href="${'/productpricedate/edit/' + productpricedate.idtable}">Edit</a></td>
            </tr>
        </table>
        
           </div>
</div>


 

</body>
</html>