<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Cimri Challenge</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
      	 <form class="form-horizontal" th:action="@{/products/search}" method="get">
            		<div class="row">
					  <div class="col-md-4">
						 Search By Title : <input type='text' name='title' id='title' /> 
						  <input class="btn btn-default" type='submit' value='Ara'/>
					  </div>
					</div>
     	      </form>   
            	
     <div th:if="${not #lists.isEmpty(products)}">
          	
        <h2>Products List</h2>
        <table class="table table-striped">
            <tr>
                <th>idtable</th>
                <th>Product Id</th>
                <th>Category</th>
                <th>Title</th>
               <!--  <th>Price</th> -->
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.idtable}"><a href="/product/${product.idtable}">${product.idtable}</a></td>
                <td th:text="${product.id}"> Id</td>
                <td th:text="${product.category}">category</td>
                <td th:text="${product.title}">title</td>
               <!--  <td th:text="${product.prices}">prices</td> -->
                <td><a th:href="${ '/product/' + product.idtable}">View</a></td>
                <td><a th:href="${'/product/edit/' + product.idtable}">Edit</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>