<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/cimri.css"
          th:href="@{css/cimri.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/products}">Products</a></li>
                        <li><a href="#" th:href="@{/product/new}">Create Product</a></li> 
                        <li><a href="#" th:href="@{/products/json}">All JSON</a></li>                       
                    </ul>
                  
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/productpricedates}">ProductPriceDates</a></li>                        
                        <li><a href="#" th:href="@{/productpricedate/new}">Create ProductPriceDate</a></li>
                        <li><a href="#" th:href="@{/productpricedates/json}">All JSON</a></li>   
                    </ul>
                    
                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">  
                <img src="../../static/images/cimribanner.jpg" width="200" th:src="@{/images/cimribanner.jpg}"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>